%primary {
    text-transform: capitalize;
    font-weight: 700;
    border-radius: var(--main-radius);
    color: var(--primary-Desaturated-Dark-Cyan);
    background-color: var(--Light-Grayish-Cyan-Background);
    padding: 7px;
}
%main-transition {
    transition: 0.3s;
}
%mainspan {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 14px;
    font-size: 14px;
    color: var(--Light-Grayish-Cyan-Background);
}
%main-box-shadow {
    box-shadow: 0px 5px 39px -15px var(--primary-Desaturated-Dark-Cyan);
}
$main-space: 30px;

@media (min-width: 575.5) {
    $main-space: 20px;
}
